<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-material-design.css" rel="stylesheet"/>
    <link href="css/ripples.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>

    <script src="js/jquery-2.2.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/ckeditor/ckeditor.js"></script>
    <script src="js/app/initCkPlugin.js"></script>
    <script src="js/app/ContactForm.js"></script>
    <script src="js/app/ContactFormView.js"></script>
    <script src="js/material.js"></script>
    <script src="js/ripples.js"></script>
    <script src="js/app/EmailForm.js"></script>
    <script src="js/app/EmailFormView.js"></script>
    <script>
        $( document ).ready(function() {
            configCkPluginSize();
            var initCkPlugin = loadCkPlugin();
            initCkPlugin();

            var emailForm = new EmailForm();
            var emailFormView = new EmailFormView(emailForm, {
                recipients : $('#to'),
                topic : $('#topic'),
                editor : CKEDITOR.instances.editor,
                send : $('#send'),
                form : $('#form'),
                body : $('#body'),
                errorAlert : $('#errorAlert')
            });
            emailFormView.initialize();

            var contactForm = new ContactForm();
            var contactFormView = new ContactFormView(contactForm, {
                firstName: $('#firstName'),
                lastName: $('#lastName'),
                email: $('#email'),
                addContactButton: $('#addContactButton'),
                contactTable: $('#contactList')
            });
            contactFormView.initialize();

            $.material.init();
        });
    </script>
</head>
<body>
<div id="errorAlert" class="alert alert-danger collapse">
    <a href="#" class="close" aria-label="close">&times;</a>
    <div class="message"></div>
</div>
<div class="well col-xs-8 col-xs-offset-2">
    <h1>Mass Mailer</h1>
    <form id="form" action="/send" method="POST">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">To</div>
                <input type="text" class="form-control" id="to" name="to" placeholder="To" />
                <span class="input-group-btn">
                    <a class="btn btn-default" id="contactButton" href="#" data-toggle="modal" data-backdrop="static" data-target="#contact">
                        <span class="glyphicon glyphicon-book"></span>
                    </a>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Topic</div>
                <input type="text" class="form-control" id="topic" name="topic" placeholder="Topic" maxlength="500" />
            </div>
        </div>

        <div class="form-group">
            <div id="editor"></div>
            <input type="hidden" name="body" id="body" />
        </div>

        <div class="text-right">
            <button type="button" id="send" name="send" class="btn btn-primary">Send</button>
        </div>

    </form>
</div>

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="contactModalLabel">Contact</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" imaxlength="50" id="firstName" placeholder="First Name"/>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" maxlength="50" id="lastName" placeholder="Last Name"/>
                    </div>
                    <div class="col-md-3">
                        <input type="email" class="form-control" id="email" maxlength="100" placeholder="E-mail" />
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success btn-raised disabled" disabled="disabled" id="addContactButton">Add Contact</button>
                    </div>
                </div>
                <br/>
                <table id="contactTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E-mail</th>
                    </tr>
                    </thead>
                    <tbody id="contactList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



</body>
</html>