<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-material-design.css" rel="stylesheet"/>
    <link href="css/ripples.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>

    <script src="js/jquery-2.2.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app/SenderValidator.js"></script>
    <script src="js/ckeditor/ckeditor.js"></script>
    <script src="js/app/initCkPlugin.js"></script>
    <script src="js/app/ContactForm.js"></script>
    <script src="js/app/onBlur.js"></script>
    <script src="js/app/main.js"></script>
    <script src="js/material.js"></script>
    <script src="js/ripples.js"></script>
    <script>
    var contactForm;
        $( document ).ready(function() {
            configCkPluginSize();
            var initCkPlugin = loadCkPlugin();
            initCkPlugin();
            var editor = CKEDITOR.instances.editor;
            var onBlur = onBlurFactory(editor);
            editor.on('blur', onBlur);

            var senderValidator = new SenderValidator();
            $('#send').click(function(event){
                $('#errorAlert').hide();
                var to = $('#to').val();
                var result = senderValidator.checkEmailFormat(to);

                if(!result) {
                    $('#errorAlert .message').text('Invalid email format.');
                    $('#errorAlert').slideDown();
                } else {
                    $('#body').val(CKEDITOR.instances.editor.getData());
                    $('#form').submit();
                }
            });

            $('#errorAlert .close').click(function(){
                $('#errorAlert').slideUp();
            });

            contactForm = new ContactForm();
            $.material.init();
        });
    </script>
</head>
<body>
<div id="errorAlert" class="alert alert-danger collapse">
    <a href="#" class="close" aria-label="close">&times;</a>
    <span class="message"></span>
</div>
<div class="well col-xs-8 col-xs-offset-2">
    <h1>Mass Mailer</h1>
    <form id="form" action="/send" method="POST">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">To</div>
                <input type="text" class="form-control" id="to" name="to" placeholder="To" />
                <a class="btn btn-default btn-raised" onclick="contactForm.loadContacts()" href="#" data-toggle="modal" data-backdrop="static" data-target="#contact">
                    <span class="glyphicon glyphicon-book"></span>
                </a>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Topic</div>
                <input type="text" class="form-control" id="topic" name="topic" placeholder="Topic" maxlength="500" />
            </div>
        </div>

        <div class="form-group">
            <div id="editor"></div>
            <input type="hidden" name="body" id="body" />
        </div>

        <div class="text-right">
            <button type="button" id="send" name="send" class="btn btn-primary">Send</button>
        </div>

    </form>
</div>

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="contactModalLabel">Contact</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" imaxlength="50" id="firstName" placeholder="First Name" onkeyup="contactForm.validateRequired()"/>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" maxlength="50" id="lastName" placeholder="Last Name" onkeyup="contactForm.validateRequired()"/>
                    </div>
                    <div class="col-md-3">
                        <input type="email" class="form-control" id="email" maxlength="100" placeholder="E-mail" onkeyup="contactForm.validateRequired()"/>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success btn-raised disabled" disabled="disabled" id="addContactButton" onclick="contactForm.validateEmail()">Add Contact</button>
                    </div>
                </div>
                <br/>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E-mail</th>
                    </tr>
                    </thead>
                    <tbody id="contactList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



</body>
</html>